/* CSS SPECIFICITY: WHICH CODE WILL BE GIVEN IMPORTANCE
    1. ORDER
    2. Embedded vs External Stylesheet (Embedded wins)

*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     
}

/* ELEMENT SELECTORS - GENERAL STYLINGS */
body{
    /* background-color: yellow; */
    font-family: 'Poppins', sans-serif;
}   

header{
    /* background-color: rgb(165, 219, 57); */
}

div{
    /* padding: 20px; */
}

h1{
    /* display:inline-block; */
    /* background-color: plum;
    color:salmon;
    padding: 20px;
    height: 100px;
    width: 200px; */
    
}

ul{
    /* background-color: goldenrod; */
}

li{
    /* background-color: bisque; */
}

/* CUSTOM CLASSNAME SELECTORS */

/* *****************HEADER SECTION************************ */

.header{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(3,4,7, 0.48), rgba(5, 10, 30, 0.48)), 
    url('../images/pexels-photo-3748221.jpeg');
    background-size: cover;
}

/* 
examples:
space
child selector
adjacent sibling
general sibling 

*/

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

/* .header__nav ul{
    float: right;
} */

.header__nav ul li{
    /* background-color: firebrick; */
    display: inline-block;
    margin: 10px 20px;
}

.header__nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

.header__headings{
    position: absolute;
    /* background-color: burlywood; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:tomato;
}

/* *****************ABOUT SECTION************************ */


/* *****************PORTFOLIO SECTION************************ */


/* *****************CONTACT SECTION************************ */



/* *****************FOOTER SECTION************************ */

